<h2 mat-dialog-title>Asignar horario a Especialista</h2>

<div mat-dialog-content>
  <form [formGroup]="formulario" class="formulario-asignacion">

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Especialista</mat-label>
      <mat-select formControlName="especialista" required>
        <mat-option *ngFor="let especialista of especialistas" [value]="especialista.id">
          {{ especialista.nombre }} - {{ especialista.especialidad }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.get('especialista')?.invalid">
        Debe seleccionar un especialista
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Especialidad</mat-label>
      <input matInput formControlName="especialidad" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Número de Box</mat-label>
      <mat-select formControlName="box" required>
        <mat-option 
          *ngFor="let box of getBoxesDisponiblesParaEspecialista()" 
          [value]="box.numero">
          Box {{ box.numero }} - Piso {{ box.piso }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formulario.get('box')?.invalid">
        Debe seleccionar un box disponible
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Piso</mat-label>
      <input matInput formControlName="piso" type="number" (wheel)="onWheel($event)" readonly>
    </mat-form-field>

    <div *ngIf="mensajeAdvertencia" class="advertencia-larga">
      {{ mensajeAdvertencia }}
    </div>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="pickerFecha" formControlName="fecha" [min]="minDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerFecha"></mat-datepicker-toggle>
      <mat-datepicker #pickerFecha></mat-datepicker>
      <mat-error *ngIf="formulario.get('fecha')?.invalid">
        La fecha es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Hora inicio</mat-label>
      <input matInput type="time" formControlName="horaInicio" required>
      <mat-error *ngIf="formulario.get('horaInicio')?.invalid">
        La hora de inicio es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Hora fin</mat-label>
      <input matInput type="time" formControlName="horaFin" required>
      <mat-error *ngIf="formulario.get('horaFin')?.invalid">
        La hora de fin es requerida
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="formulario.invalid" (click)="guardar()">
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button (click)="cancelar()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
</div>