<mat-toolbar color="primary" class="topbar">
  <img src="assets/img/logo-redsalud.png" alt="Logo" class="logo-toolbar" />
  <span class="title">Gestión Clínica RedSalud</span>
  <span class="spacer"></span>
  <span>{{ usuario }} ({{ rol | titlecase }})</span>
  <button mat-button color="warn" (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon> Cerrar sesión
  </button>
</mat-toolbar>

<div class="container">

  <h1 class="titulo-principal">Gestión de Boxes Médicos</h1>

  <h2 class="subtitulo-filtros">Filtros de búsqueda</h2>
  <div class="filtros" style="display: flex; gap: 16px; margin-bottom: 16px; flex-wrap: wrap;">
    <mat-form-field appearance="fill">
      <mat-label>Número del Box</mat-label>
      <input matInput [(ngModel)]="filtroNumero" placeholder="Buscar por número">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Piso</mat-label>
      <mat-select [(ngModel)]="filtroPiso">
        <mat-option value="todos">Todos</mat-option>
        <mat-option *ngFor="let piso of pisosUnicos()" [value]="piso">Piso {{ piso }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select [(ngModel)]="filtroEstado">
        <mat-option value="todos">Todos</mat-option>
        <mat-option value="disponible">Disponible</mat-option>
        <mat-option value="ocupado">Ocupado</mat-option>
        <mat-option value="en_mantenimiento">En Mantenimiento</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button (click)="abrirFormulario()" class="btn btn-agregar">
    <span class="material-icons">add</span> Agregar Box
  </button>

  <table class="box-table">
    <colgroup>
      <col style="width: 17%" />
      <col style="width: 17%" />
      <col style="width: 27%" />
      <col style="width: 22%" />
      <col style="width: 17%" />
    </colgroup>
    <thead>
      <tr>
        <th>Número de Box</th>
        <th>Piso</th>
        <th>Inmueble</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let box of filteredBoxes()">
        <td>{{ box.numero }}</td>
        <td>{{ box.piso }}</td>
        <td>{{ box.inmueble }}</td>
        <td>
          <span *ngIf="box.estado === 'disponible'">Disponible</span>
          <span *ngIf="box.estado === 'ocupado'">Ocupado</span>
          <span *ngIf="box.estado === 'en_mantenimiento'">En Mantenimiento</span>
        </td>
        <td>
          <button class="btn btn-editar" (click)="editarBox(box)">
            <span class="material-icons">edit</span> Editar
          </button>
          <button class="btn btn-eliminar" (click)="eliminarBox(box.id!)">
            <span class="material-icons">delete</span> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>